---
/* src/components/Hero.astro */
---
<section id="hero" class="hero section dark-background">

  <img src="/assets/img/hero-bg-friends.png" alt="Fond gestion du stress" data-aos="fade-in" class="hero-bg">

  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <h1 data-aos="fade-up">Comprendre votre stress pour mieux vivre</h1>
        <blockquote data-aos="fade-up" data-aos-delay="100">
          <p>
            Une formation TCC unique en 5 modules pour comprendre vos réflexes et retrouver votre sérénité. Éligible au remboursement PsyHainaut
          </p>
        </blockquote>
        <div class="d-flex justify-content-center justify-content-lg-start" data-aos="fade-up" data-aos-delay="200">
  <a href="#courses" class="btn-get-started" style="display: flex; align-items: center; justify-content: center; min-width: 200px; text-align: center;">
    Commencer ici
  </a>
        </div>
      </div>
    </div>
  </div>

</section>

