---
import Master from '../layouts/Master.astro';
import Hero from '../components/landing/Hero.astro';
import PainPoints from '../components/landing/PainPoints.astro'; // Nouvelle section
import WhyUs from '../components/landing/WhyUs.astro';
import CourseCatalog from '../components/landing/CourseCatalog.astro'; // Nouvelle section
import TeamPreview from '../components/landing/TeamPreview.astro'; 
import CallToAction from '../components/landing/CallToAction.astro'; 
---

<Master title="StressAction | Expertise en gestion du stress et TCC">
  
  <main class="main">

    <Hero />

    <PainPoints />

    <WhyUs />

    <CourseCatalog />

    <TeamPreview />

    <CallToAction />

  </main>

</Master>