---
import Master from '../layouts/Master.astro';
---

<Master title="L'Équipe | StressAction">
  <section class="section">
    <div class="container">
      <h1 class="text-center mb-5">Vos Intervenants</h1>
      
      <div class="row gy-5">
        <div class="col-lg-4">
          <div class="intervenant-card text-center">
            <img src="/assets/img/team/david.jpg" class="img-fluid rounded-circle mb-3" alt="David Vandenbosch">
            <h3>David Vandenbosch</h3>
            <p class="text-primary">Expert ACT & Mindfulness</p>
            <p class="small">Fondateur d'ACT Thérapie et auteur aux éditions Dunod, David est une référence en gestion du burn-out.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="intervenant-card text-center">
            <img src="/assets/img/team/celine.jpg" class="img-fluid rounded-circle mb-3" alt="Céline Mahieu">
            <h3>Céline Mahieu</h3>
            <p class="text-primary">Psychologue Clinicienne & Chercheuse</p>
            <p class="small">Spécialiste TCC à l'ULB, elle allie rigueur scientifique et accompagnement humain en première ligne.</p>
          </div>
        </div>

        <div class="col-lg-4">
          </div>
      </div>
    </div>
  </section>
</Master>